{% extends 'base.html' %}

{% block content %}
<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Aenean diam leo, laoreet at nunc ut, pharetra convallis ante. 
    Phasellus hendrerit nunc eu lectus consectetur, id lobortis arcu pretium. Nam eget molestie risus.
     In vel quam ut erat porta finibus. Donec non varius mi. 
     Sed tincidunt, massa et condimentum mollis, urna magna molestie odio, non pretium neque leo eget ipsum. 
     Vivamus venenatis, mi ut fringilla tristique, risus metus efficitur justo, eget auctor magna nisl id odio. 
     Suspendisse mi augue, blandit ut porttitor at, varius eu erat. Sed aliquet facilisis dictum. 
     Fusce eu rutrum quam, eget fringilla ligula. Aliquam varius dignissim rhoncus. 
     Etiam venenatis molestie turpis hendrerit convallis.    </p>


{% endblock %}