{% extends 'base.html' %}

{% block content %}
<h1 class="posttitle">{{ post.title }}</h1>

{% if post.published_date %}
    <div class="date postdate">
        {{ post.published_date }}
    </div>

{% else %}
    <a href="{% url 'publish' pk=post.pk %}" class="btn btn-primary">Publish</a>
{% endif %}

<p class="postcontent">{{ post.text | safe | linebreaksbr }}</p>

{% if user.is_authenticated %}

<a href="{% url 'update' pk=post.pk %}" class="btn btn-primary">
    <span class="glyphicon plyphicon-pencil"></span>
</a>

<a href="{% url 'delete' pk=post.pk %}" class="btn btn-primary">
    <span class="glyphicon plyphicon-remove"></span>
</a>

{% endif %}

<hr>

<a href="{% url 'add_comment' pk=post.pk %}" class="btn btn-primary btn-comment">Add Comment</a>

<div class="container">

    {% for comment in post.commetns.all %}
    <br>
    {% if user.is_authencitaed or comment.approve_comment %}
        {{ comment.created_date }}

        {% if not comment.approve_comment %}
            <a href="{% url 'comment_remove' pk=comment.pk %}" class="btn btn-default">
                <span class="glyphicon plyphicon-remove"></span>
            </a>
            <a href="{% url 'comment_approve' pk=comment.pk %}" class="btn btn-primary">
                <span class="glyphicon plyphicon-ok"></span>
            </a>
        {% endif %}

        <p>{{comment.text|sate}|linebreaks}</p>
        <p>Posted By: {{comment.author}}</p>
    {% endif %}
    {% empty %}

    <p>No commnets</p>

    {% endfor %}
</div>

{% endblock %}